<div class="services">
	<div class="title center" >
		<%=t(:our_services)%>
	</div>
	<div class="centered-container">
		<div class="service"id='page3' style='height:250px;'>
			<div class="subTitle">
				<%=t(:services_airport)%>
			</div>
			<div class="description">
				<ul>
					<li class='pullDown'>				<%=t(:services_airport1)%>
					</li>
					<li class='pullDown'>
						<%=t(:services_airport2)%>
					</li>
					<li class='pullDown'><%=t(:services_airport3)%></li>
					<li class='pullDown'><%=t(:services_airport4)%></li>
					<li class='pullDown'><%=t(:services_airport5)%></li>
				</ul>
			</div>
		</div>

		<div class="service" id='page4' style='height:280px;'>
			<div class="subTitle">
				<%=t(:services_urban)%>
			</div>
			<div class="description">
				<ul>
					<li class='pullDown'><%=t(:services_urban1)%>%></li>
					<li class='pullDown'><%=t(:services_urban2)%></li>
					<li class='pullDown'><%=t(:services_urban3)%></li>
					<li class='pullDown'><%=t(:services_urban4)%></li>
				</ul>
			</div>
		</div>
		<div class="service" id='page5' style='height:330px;'>
			<div class="subTitle" >
				<%=t(:services_tourism)%>
			</div>
			<div class="description">
				<ul>
					<li class='pullDown'>				<%=t(:services_tourism1)%>
					</li>
					<li class='pullDown'>				<%=t(:services_tourism2)%>
					</li>
					<li class='pullDown'>
						<%=t(:services_tourism3)%>
					</li>
					<li class='pullDown'>
						<%=t(:services_tourism4)%>
					</li>
					<li class='pullDown'>
						<%=t(:services_tourism5)%>
					</li>
					<li class='pullDown'>
						<%=t(:services_tourism6)%>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>