<div class="scrollSpy borders"data-spy="scroll" data-target="#navbar">
	<div class="home" id='page1' style='padding-top:60px'>
		<div class="centered-container">
			<div class="leftContainer">
					<div class="subTitle"><%=t(:our_services)%></div>
					<div class="paragraph">
					<div>			- Servicios de transfer:
					</div>
					<ul>
						<li class='lista'>Santiago</li>
						<li class='lista'>Rancagua</li>
						<li class='lista'>Valparaíso</li>
						<li class='lista'>San Fernando</li>
						<li class='lista'>Santa Cruz</li>
					</ul>
				</div>
				<div class="paragraph">
					-	<%=t(:home_tourism)%>
				</div>
				<div class="paragraph">

			-	<%=t(:home_private)%>

				</div>

			</div>
			<div class="midContainer" style='margin-left:10px;width:240px;height:360px;display:inline-block;vertical-align:top;position:relative;'>
				<img src="/images/logo_background.png">
			</div>
			<div class="rightContainer">
				<div class="subTitle"><%=t(:home_our_fleet)%></div>
				<img src="/images/van1.jpg" class='bigPhoto'>
				<br>
				<div class="description">
					<%=t(:home_description1)%><br><%=t(:home_description1_1)%>
				</div>
				<div class="descriptionLeft">
					<%=t(:home_description2)%>
				</div>
				<img src="/images/van2.jpg" class='bigPhotoRight'>
			</div>
		</div>
	</div>
	  <%= render :partial => 'home/about_us' %>
	  <%= render :partial => 'home/services' %>
	  <%= render :partial => 'home/values' %> 


</div>
<script type="text/javascript">
$(document).ready(function(){
$('body').scrollspy();
});
</script>