<!DOCTYPE html>
<html>
<head>
  <title>Transviajero</title>
  <%= stylesheet_link_tag    "bootstrap.css" %>
  <%= stylesheet_link_tag    "application.css" %>
  <%= javascript_include_tag "jquery-1.10.2.min" %>
  <%= javascript_include_tag "bootstrap.min" %>
  <%= javascript_include_tag "bootstrap-scrollspy" %>
</head>
<body class='background' data-spy="scroll" data-target=".navbar" style='margin-top:0px;vertical-align:top;padding-top:0px;'>
<div id='navbar'class="navbar navbar-inverse topbar"data-scrollspy='scrollspy' style="position: fixed;margin-left:auto;margin-right:auto;width:100%;margin-top:0px;vertical-align:top;padding-top:0px;z-index:1">
              <div class="navbar-inner">
                <div class="container" style='width:1150px;'>
                  <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </a>
                  <a class="brand"style='font-family: transviajero;' href="#">Trans viaJero</a>
                  <div class="nav-collapse collapse navbar-inverse-collapse">
                    <ul class="nav">
                      <li class="active navOption"><a href="#page1">Inicio</a></li>
                      <li class='navOption'><a href="#page2">Quienes Somos</a></li>
                      <li class="navOption dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Servicios <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li style='margin-top:10px;'><a href="#page3">Aeropuerto</a></li>
                          <li style='margin-top:10px;'><a href="#page4">Urbano</a></li>
                          <li style='margin-top:10px;'><a href="#page5">Turismo</a></li>
                        </ul>
                      <!--<li class='navOption'><a href="#page6">Cotizaciones</a></li>-->
                      <li class='navOption'><a href="#page6">Reservas</a></li>
                      <li class='navOption'><a href="#page7">Galería</a></li>

                    </ul>
<!--                   
Buscador por si algun dia se usa
 <form class="navbar-search pull-left" action="">
                      <input type="text" class="search-query span2" placeholder="Search">
                    </form> -->
                  </div><!-- /.nav-collapse -->
                </div>
              </div><!-- /navbar-inner -->
            </div>
      <div class="administracion">
        <%= yield %>
      </div>
</body>
</html>
<script type='text/javascript'>
$("#navbar ul li a[href^='#']").on('click', function(e) {
   e.preventDefault();
   $('html, body').animate({ scrollTop: $(this.hash).offset().top-40 }, 300);
});
$('.dropdown-toggle').dropdown();
</script>