<!DOCTYPE html>
<html>
<head>
  <title>Transviajero</title>
  <%= stylesheet_link_tag    "bootstrap.css" %>
  <%= stylesheet_link_tag    "application.css" %>
  <%= javascript_include_tag "jquery-1.10.2.min" %>
  <%= javascript_include_tag "bootstrap.min" %>
  <%= javascript_include_tag "bootstrap-scrollspy" %>
  <link rel="icon" 
      type="image/ico" 
      href="/images/icon.png" />
</head>
<body class='background' data-spy="scroll" data-target=".navbar" style='margin-top:0px;vertical-align:top;padding-top:0px;'>
<div id='navbar'class="navbar navbar-inverse topbar"data-scrollspy='scrollspy' style="position: fixed;margin-left:auto;margin-right:auto;width:100%;margin-top:0px;vertical-align:top;padding-top:0px;z-index:1">
              <div class="navbar-inner">
                <div class="container" style=''>
                  <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </a>
                  <a class="brand"style='font-family: transviajero;' href="#">Trans viaJero</a>
                  <div class="nav-collapse collapse navbar-inverse-collapse">
                    <ul class="nav">
                      <li class="active navOption"><a href="#page1"><%=t(:home)%></a></li>
                      <li class='navOption'><a href="#page2"><%=t(:about_us)%></a></li>
                      <li class="navOption dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%=t(:services)%> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li style='margin-top:10px;'><a href="#page3"><%=t(:airport)%></a></li>
                          <li style='margin-top:10px;'><a href="#page4"><%=t(:urban)%></a></li>
                          <li style='margin-top:10px;'><a href="#page5"><%=t(:tourism)%></a></li>
                        </ul>
                      <!--<li class='navOption'><a href="#page6">Cotizaciones</a></li>
                      <li class='navOption'><a href="#page6"><%=t(:gallery)%></a></li>-->
                      <li class='navOption'><a href="#page7"><%=t(:contact)%></a></li>
                    </ul>
                  </div><!-- /.nav-collapse -->
                <ul class="nav pull-right">
                      <li><a class='navOption' style='border:0px;'href="/home?locale=es"><img style='width:25px;height:25px;margin-right:10px;' src="/images/es-icon.png">Español</a></li>
                        <li><a class='navOption' style='border:0px;'href="/home?locale=en"><img style='width:20px;height:20px;margin-right:10px;' src="/images/uk-icon.png">English</a></li>
                </ul>
                </div>
              </div><!-- /navbar-inner -->
            </div>
      <div class="administracion">
        <%= yield %>
      </div>
</body>
      <footer id='page7' class="foto-b">
          <div class="navOption">
            <div class="comments"><%=t(:contact_comment)%> </div>

            <div class="footer-text2 comments " style="margin-top:10px;"><%=t(:email)%> <a class='linkColor'href="mailto:transviajero@gmail.com?Subject=<%=t(:contact)%>" target="_top">transviajero@gmail.com</a></div>
            <br>
            <br>
            <div class="comments"><%=t(:facebook)%></div>
            <br>
            <a target="_blank" href="https://www.facebook.com/transviajero">

              <span class="footer-icon linkColor icon-facebook">&nbsp;</span>
              <span class="footer-text linkColor">Transviajero</span></a>
              <br>
              <a target="_blank" href="http://twitter.com/transviajero">
              <span class="linkColor footer-icon icon-twitter">&nbsp;</span><span class="linkColor footer-text ">@transviajero</span></a>
          <br>
          <br>
          <br>
          <p style="color:white;">
          © Copyright Transviajero 2013. All Rights Reserved.
          </p>
          </div>
      </footer>
</html>
<script type='text/javascript'>
$("#navbar ul li a[href^='#']").on('click', function(e) {
   e.preventDefault();
   $('html, body').animate({ scrollTop: $(this.hash).offset().top-40 }, 300);
});
$('.dropdown-toggle').dropdown();
</script>